<input type="date" [ngModel]="myDate | date:'yyyy-MM-dd'" (ngModelChange)="onDateChange($event)">
<br>

<select   (change)="getMission($event.target)">
    <option *ngFor="let mission of missions" [ngValue]="mission.name"   >{{mission.name}}</option>
    <option [ngValue]="" [selected]="true">Select Mission</option>
</select>
<br>
<button class="btn btn-warning" (click)="addMission()">Add Mission</button>


<table class="table" id="myTable">
    <thead>
        <th>missions</th>
        <th *ngFor="let day of days">{{day}}</th>
        


    </thead>
    <tbody>
        <tr *ngFor="let evenement of evenements; let i=index">
            <td >{{evenement.mission}}</td>
            <!-- <td *ngFor="let day of days">{{day===evenement.jour?evenement.cota:0}}</td> -->
            <td *ngFor="let day of evenement.activite" >
            <select  id="{{evenement.mission}}|{{day.jour}}" (change)="detectChange($event.target)">
                <option [ngValue]="0"  [selected]="day.cota===0 " >0</option>
                <option [ngValue]="1" [selected]="day.cota===1 ">1</option>
                <option [ngValue]="0.5"  [selected]="day.cota===0.5 ">0.5</option> 
            </select>

            </td>

        </tr>
    </tbody>
</table>
<button class="btn btn-secondary" (click)="addAll()">Save</button>