<div class="row">

<div class="col">
    <h1 class="blue">Missions</h1>

<table class="table" id="myTable">
    <thead>
        <th>mission</th>

    </thead>
    <tbody>
        <tr *ngFor="let missio of missions; let i=index">
            <td>{{missio.name}}</td>

        </tr>
    </tbody>
</table></div>
<div class="col">
<button class="btn btn-secondary" (click)="addMission()">Add Mission</button>
</div>
</div>

<ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Add Event</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
   
          <div class="form-group">

            <label for="text">Mission:</label>
            <input  class="form-control" type="text" [(ngModel)]="mission.name">
          </div>
    </div>
    <div class="modal-footer">
   
      <button type="button" class="btn btn-primary text-nowrap" (click)="saveMission()" >Save</button>
      <button type="button" class="btn btn-secondary btn-block ml-1" data-dismiss="modal" (click)="close()">Close</button>
 
    </div>
  </ng-template>